

.navbar-default {
	background-color: #3397B2;
	border: none;
	border-radius: 0;
    padding-top: 3em;
    font-size: 1.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;

}

.navbar-default .navbar-nav>.active>a {
	color: #FFFFFF;
	background-color: #246B80;
}

.navbar-default .navbar-nav>ul {overflow:auto}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
    /*background-color: #246B80;*/
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #246B80;
}

.navbar-default .navbar-nav>.active>a:hover {
		color: #FFFFFF;
	background-color: #246B80;
}

/*.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}*/


/*.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/


/*footer {
  background-color:#122d59;
  line-height: 100px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-color: #ffffff;
  margin: 0px;
}*/











































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.navbar-default {
	background-color: #3397B2;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav>.active>a {
	color: #FFFFFF;
	background-color: #246B80;
}

.navbar-default .navbar-nav>ul {overflow:auto}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
    /*background-color: #246B80;*/
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #246B80;
}

.navbar-default .navbar-nav>.active>a:hover {
		color: #FFFFFF;
	background-color: #246B80;
}




.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3397B2;
  text-align: center;
}

/*footer {
  background-color:#122d59;
  line-height: 100px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-color: #ffffff;
  margin: 0px;
}*/