 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  .branch-brooklyn{
       position: absolute;
      /*width: 60%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px;
    border-radius: 4px;
    box-sizing: border-box;
     top: 20%;
    left: 20%;
    width:60%;

    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
 
    background-color: #f3f3f3;
    /*position:fixed;*/
  }
    .brooklyn img {
        float: right;
        width: 30%;
        height: 40%;
        background: #555;
    }

    .page-header h1 {
        position: relative;
        top: 18px;
        left: 10px;
        font-family: Calibri, "Helvetica", san-serif;
        line-height: 1.5em;
        color: black;
        font-size: 200%;
     }
     
   .page-header h1:after {
      content:' ';
      display:block;
      border:2px solid black;
    }

   .brooklyn h4::after  {
      content:' ';
      display:block;
      border:2px solid black;
    }

  .branch-brooklyn < #brooklyn-images {   
    width: 30%;
    height: auto;
    margin-top:20%;
    margin-left: auto; 
    margin-right: auto;
     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#brooklyn-images a {
    
    display: inline-block;
    display: inline;
   
}
.stretch {
   
    display: inline-block;
    font-size: 0;
    line-height: 0
}
</style>

<div class="container">
  <div class="row">
      <div class="branch-brooklyn">
          <div class="page-header">
              <h1>Brooklyn church </h1>
          </div>
          <div class="brooklyn">
              <img src="../Images/p1.jpg" class="tales">
              <h4>
                  The crescent honeyeater (Phylidonyris pyrrhopterus) is a passerine bird of the honeyeater family, Meliphagidae, native to southeastern Australia. <br /> A member of the genus Phylidonyris, it is most closely related to the common New Holland honeyeater (P. novaehollandiae) and the white-cheeked honeyeater (P. niger). <br /> Two subspecies are recognized, with P. p. halmaturinus restricted in range to Kangaroo Island and the Mount Lofty Ranges in South Australia. <br />

                  It has dark grey plumage and paler underparts, highlighted by yellow wing patches and a broad, black crescent, outlined in white, down the sides of its breast. <br /> The species exhibits slight sexual dimorphism, with the female being duller in colour than the male. <br /> Juvenile birds are similar to the female, though the yellow wing patches of male nestlings can be easily distinguished. <br />

                  The male has a complex and variable song, which is heard throughout the year. <br /> It sings from an exposed perch, and during the breeding season performs song flights. <br /> The crescent honeyeater is found in areas of dense vegetation including sclerophyll forest and alpine habitats, as well as heathland, and parks and gardens, where its diet is made up of nectar and invertebrates. <br /> It forms long-term pairs, and often stays committed to one breeding site for several years.<br /> The female builds the nest and does most of the caring for the two to three young, which become independent within 40 days of laying its egg. <br />

                  The parent birds use a range of anti-predator strategies, but nestlings can be taken by snakes, kookaburras, currawongs, or cats. <br /> While the crescent honeyeater faces a number of threats, its population numbers and distribution are sufficient for it to be listed as of Least Concern for conservation.<br /> The crescent honeyeater (Phylidonyris pyrrhopterus) is a passerine bird of the honeyeater family, Meliphagidae, native to southeastern Australia. <br /> A member of the genus Phylidonyris, it is most closely related to the common New Holland honeyeater (P. novaehollandiae) and the white-cheeked honeyeater (P. niger). <br />
                  Two subspecies are recognized, with P. p. halmaturinus restricted in range to Kangaroo Island and the Mount Lofty Ranges in South Australia. <br />

                  It has dark grey plumage and paler underparts, highlighted by yellow wing patches and a broad, black crescent, outlined in white, down the sides of its breast. <br /> The species exhibits slight sexual dimorphism, with the female being duller in colour than the male. <br /> Juvenile birds are similar to the female, though the yellow wing patches of male nestlings can be easily distinguished. <br />

                  The male has a complex and variable song, which is heard throughout the year. It sings from an exposed perch, and during the breeding season performs song flights. The crescent honeyeater is found in areas of dense vegetation including sclerophyll forest and alpine habitats, as well as heathland, and parks and gardens, where its diet is made up of nectar and invertebrates. It forms long-term pairs, and often stays committed to one breeding site for several years.<br /> The female builds the nest and does most of the caring for the two to three young, which become independent within 40 days of laying its egg.

                  The parent birds use a range of anti-predator strategies, but nestlings can be taken by snakes, kookaburras, currawongs, or cats.  While the crescent honeyeater faces a number of threats, its population numbers and distribution are sufficient for it to be listed as of Least Concern for conservation.
              </h4>
             </div>      
              <h3><u>Images</u></h3>
              <div id="brooklyn-images">
                 
                      <!--<img src="../Images/p3.jpg" alt="image" />-->
               </div>
                      
                 
                  
              
          
      </div> 
      </div>
 </div>



