

<div class="jumbotron">
    <link href="css/home.css" rel="stylesheet" />

    {{message}}

    <div class="imageslide" ng-switch='slideshow' ng-animate="'animate'">
        <div class="slider-content" ng-switch-when="1">
            <img src="../Images/carousel-cross.jpg" height="500px" width="600px">
        </div>
        <div class="slider-content" ng-switch-when="2">
            <img src="../Images/carousel-jesuslovesu.jpg" height="500px" width="600px">
        </div>
        <div class="slider-content" ng-switch-when="3">
            <img src="../Images/carousel-heavensforever.jpg" height="500px" width="600px">
        </div>
        <div class="slider-content" ng-switch-when="4">
            <img src="../Images/carousel-jesussavior.jpg" height="500px" width="600px">
        </div>
    </div>
    <div class="container">
        <div class="col-md-4">
            <h3> About us...</h3>
            <p>
                we CAG, worship our lord god by praise
                <br> and we do pray for seeking help
            </p>
        </div> &nbsp;
        <div class="col-md-4">
            <h3> Upcoming Events...</h3>
            <p> At CAG we have pasting prayers <br> started at 28 DEC 2016 -30 DEC 2016  </p>
        </div> &nbsp;
        <div class="col-md-4">
            <h3> Worship timings</h3>
            <p>
                NJ: sunday: 10:30am - 1:00pm
                <br> NY: saturday: 6:00pm - 9:00pm
            </p>
        </div>
    </div>

</div>